.footer-bg {
  background: rgba(182, 164, 240, 0.25);
  margin-top: 500px;
}

.footer {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  align-items: start;
  justify-content: space-between; 
  padding: 10px;
}

.container-foto {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

.container-foto img {
  object-fit: cover;
}

.container-foto p {
  max-width: 270px;
  word-wrap: break-word;
  text-align: center;
  line-height: 150%;
  font-family: var(--texto);
  color: #1a202c;
  font-size: 1.125rem;
  font-weight: 400;
}

.conteudo-footer{
  display: flex;
  justify-content: space-around;
  max-width: 1440px;
  gap: 120px;
  align-items: start;
  margin-top: 60px;
}

.footer h3 {
  font-size: 1.25rem;
  margin-bottom: 24px;
  margin-top: 20px;
  font-family: var(--titulo);
  font-weight: 700;
  color: #1a202c;
}

.footer li {
  margin-bottom: 24px;
  font-family: var(--texto);
}

.footer li a {
  color: #1a202c;
  font-size: 1rem;
  font-weight: 400;
}



hr {
  margin-bottom: 16px;
  height: 4px;
  background: #8b4baf;
}

.direitos {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 42px;
  font-family: var(--texto);
  font-weight: 400;
  font-size: 1rem;
  padding: 10px;
}