.header-bg {
  background-image: url("../../img/header-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background: rgb(243, 250, 228, 0.50);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  max-width: 1440px;
  margin: 32px auto;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
}

.img-div {
  margin-left: 72px;
}

nav {
  display: flex;
  gap: 60px;
}

.lista-header {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  font-family: var(--texto);
  font-size: 1.25rem;
}

.lista-header li a {
  display: block;
  color: #3a2345;
  margin-right: 30px;
  text-align: center;
  line-height: 140%;
  font-family: var(--titulo);
  font-weight: 500;
  max-width: 150px;
}

.lista-header li:first-child,
.lista-header li:nth-child(2n) {
  display: flex;
  align-items: center;
  border-right: 4px solid #8b4baf;
  height: 50px;
}


.botoes {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cadastro {
  background: #b6a4f0;
  border: 2px solid #8B4BAF;
  padding: 18px 28px;
  text-transform: uppercase;
  border-radius: 50px;
  color: #833da9;
  cursor: pointer;
  font-family: var(--titulo);
  font-size: 1rem;
  font-weight: 700;
}

.login {
  margin-right: 72px;
  background: #f3fae4;
  border: 2px solid #8b4baf;
  padding: 18px 28px;
  text-transform: uppercase;
  border-radius: 50px;
  color: #8b4baf;
  cursor: pointer;
  font-family: var(--titulo);
  font-size: 1rem;
  font-weight: 700;
}
